*.exe
*.o
5.0.modularizacao/q16
4.repetição/q6
5.3.lista_aula2707/q3-coeficiente_binomiais_recursividade
5.3.lista_aula2707/q2-numero_harshad_modularizacao
5.3.lista_aula2707/q1-campeonato_pipa_condicional
7.2.avaliacao/tempCodeRunnerFile.cpp
.vscode/settings.json
8.0.arquivos/cifrado
8.0.arquivos/teste
8.0.arquivos/agenda.txt
8.0.arquivos/saida.txt
